@import url(./init.css);
 
.”viewVideo”{
    position: relative;
 
}

.”viewVideo”__img{
    width: 100%;
    height : 380px;
}

.”viewVideo”__video{
    position: absolute;
    left: 530px;
    top: 160px;
    background-color: #FDE500;
    width: 371px;
    height: 76px;
    text-align: center;
    line-height: 100px;
    font-size:16px;
    font-weight: 500;
    line-height: 18.78px;
    letter-spacing: 12px;
    font-family: 'Raleway', sans-serif;
}
.”viewVideo”__p{
    padding-top: 30px;
    
}


.”team”{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.”team”__axes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.”team”__img{
   margin-top: 30px;
   
}

/* .”team”__img > img {
    width: 50%;
} */

.”team”__OurTeam{
    text-align: center;
    line-height: 28px;
    font-size:20px;
    font-weight: 600;    ;
    letter-spacing: 12px;
    margin: 30px;
    font-family: 'Raleway', sans-serif;
}

.”team”__text{

    text-align: center;
    font-size: 16px;
    max-width: 700px;
    letter-spacing: 5%;
    line-height: 32.96px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}


.”team”_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr;
    width: 80%;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
  
    margin-top: 30px;
}

.team{
    position: relative;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    min-height: 40vh;
    max-width: 25vh;
   margin: 10px;

}

.card__img{
  
    width: fit-content;
   margin: auto;
   
}
.img__size{
    width: 210px;
}
.card__buttom{
    background-color: #FDE500;
    opacity: 0.9;
    height: 46px;
    width: 210px;
    margin: auto;
    text-align: center;
    line-height: 300%;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    z-index: 1;
    top:48.6%;
   
    
   
}
.card1__buttom{
    width: 207px;
}

.card4__buttom{
   
    height: 50px;
}
.John{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.card_text{

    text-align: center;
    font-size: 12px;     
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    padding: 20px;
}
.relative_p{
    position: relative; 
}
.yellow_box{
    position: absolute;
    background-color: #FDE500;
    min-width: 100%;
    min-height: 200px;
     z-index: -1;
     top: 30%;
}
.grid_buttom{
    
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr  1fr 1fr ;
    grid-template-areas:"box1 box2"
    "box1 box4"
    "box3 box4";
 


}     
.grid_buttom__box1 > p{
    background-color: black;
    /* min-height: 100px; */
    max-width: 26rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
   padding: 2.5rem;
   line-height: 24px;
   margin-left: 100px;
   
} 
.grid_buttom__box1{
    grid-row: 1 / 2; 
    place-self: center;
    grid-area: box1;
}
.grid_buttom__box2{
    place-self: center;
    max-width: 23rem;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 26.78px;
    grid-row: 1; 
    grid-area: box2;
}
.box2__p{
    font-weight: 900;
    font-style: italic;
    margin-left: 270px;
    

}
.grid_buttom__box3{
  
    place-self: center;
    max-width: 23rem;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 26.78px;
    text-align: center;
    grid-area: box3;
}
.box3__p{
    font-weight: 900;
    font-style: italic;
     text-align: left;

}
.grid_buttom__box4{
    grid-column: 2 / 3; 
    margin-right: 170px;
    grid-area: box4;
}